{% assign title = include.title | default="Hafa samband" %}
{% assign subtitle = include.subtitle | default="Sendu okkur línu" %}
{% assign description = include.description | default="Við tökum ábendingum fagnandi." %}

<div class="span4">
    <div class="title-box clearfix">
        <h3 class="title-box_primary">{{ title }}</h3>
    </div>
    <h5>{{ subtitle }}</h5>
    <p>{{ description }}<br></p>
    <address>
        <strong><a href="{{ '/kristian_guttesen_cv.html' | relative_url }}">Kristian Guttesen</a><br>
        Norðurslóð 2,<br>
        600 Akureyri</strong><br>
        Sími=+354 460 8597<br>
        Netfang=guttesen (hjá) hotmail.com<br>
    </address>
</div>
