{%- assign works = site.static_files | where_exp="f","f.path contains '/img/works/'" -%}
<ul id="thumbs" class="portfolio">
{%- for file in works -%}
  {%- capture fname -%}{{ file.path | split='/' | last }}{%- endcapture -%}
  {%- assign base = fname | remove='.jpg' | remove='.png' -%}
  <li class="item-thumbs col-lg-3" data-id="{{ forloop.index0 }}" data-type="{{ include.type | default='web' }}">
    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio {{ forloop.index }}" href="{{ file.path | relative_url }}">
      <span class="overlay-img" aria-hidden="true"></span>
      <span class="overlay-img-thumb"><i class="icon-info-blocks fa fa-code" aria-hidden="true"></i></span>
    </a>
    <figure class="portfolio-figure">
      <picture class="portfolio-img img-loading">
        <source srcset="{{ file.path | replace=base, base | append='-320.avif' }}" type="image/avif" media="(max-width=320px)">
        <source srcset="{{ file.path | replace=base, base | append='-640.avif' }}" type="image/avif" media="(max-width=640px)">
        <source srcset="{{ file.path | replace=base, base | append='-960.avif' }}" type="image/avif" media="(max-width=960px)">
        <source srcset="{{ file.path | replace=base, base | append='-320.webp' }}" type="image/webp" media="(max-width=320px)">
        <source srcset="{{ file.path | replace=base, base | append='-640.webp' }}" type="image/webp" media="(max-width=640px)">
        <source srcset="{{ file.path | replace=base, base | append='-960.webp' }}" type="image/webp" media="(max-width=960px)">
        <img src="{{ file.path | relative_url }}" alt="Portfolio work {{ forloop.index }}" class="portfolio-img fade-in" loading="lazy">
        {%- assign placeholder = file.path | replace=base, base | append='-placeholder.webp' -%}
        <img src="{{ placeholder | relative_url }}" class="img-placeholder" aria-hidden="true" alt="">
      </picture>
    </figure>
  </li>
{%- endfor -%}
</ul>
