<!DOCTYPE html>
<html lang="{{ page.lang | default: site.default_lang }}">
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{ page.description | default: site.description }}" />
<meta name="author" content="{{ page.author | default: site.author }}" />
<!-- css -->
<link href="{{ '/css/bootstrap.min.css' | relative_url }}" rel="stylesheet" />
<link href="{{ '/css/fancybox/jquery.fancybox.css' | relative_url }}" rel="stylesheet">
<link href="{{ '/css/flexslider.css' | relative_url }}" rel="stylesheet" />
<link href="{{ '/css/style.css' | relative_url }}" rel="stylesheet" />
 
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper">
    <!-- start header -->
    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                  <a class="navbar-brand" href="{{ '/' | relative_url }}"><img src="{{ '/img/logo.png' | relative_url }}" alt="logo"/></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li {% if page.url == '/' %}class="active"{% endif %}><a href="{{ '/' | relative_url }}">Heim</a></li> 
                        <li {% if page.url == '/about.html' %}class="active"{% endif %}><a href="{{ '/about.html' | relative_url }}">Yfirlit</a></li>
                        <li {% if page.url == '/courses.html' %}class="active"{% endif %}><a href="{{ '/courses.html' | relative_url }}">Kennsluefni</a></li>
                        <li {% if page.url == '/portfolio.html' %}class="active"{% endif %}><a href="{{ '/portfolio.html' | relative_url }}">Mannkostamenntun</a></li>
                        <li {% if page.url == '/pricing.html' %}class="active"{% endif %}><a href="{{ '/pricing.html' | relative_url }}">Bækur</a></li>
                        <li {% if page.url == '/contact.html' %}class="active"{% endif %}><a href="{{ '/contact.html' | relative_url }}">Tengslaupplýsingar</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header><!-- end header -->
    
    {{ content }}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widget">
                        <h5 class="widgetheading">Um síðuna</h5>
                        <address>
                        <strong>Mannkostamenntun</strong><br>
                        Ábyrgðarmaður: Kristian Guttesen<br>
                         Norðurslóð 2, 600 Akureyri.</address>
                        <p>
                            <i class="icon-phone"></i> (+354) 460-8597 <br>
                            <i class="icon-envelope-alt"></i> guttesen@hotmail.com
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="widget">
                        <h5 class="widgetheading">Hlekkir</h5>
                        <ul class="link-list">
                            <li><a href="https://heimspekitorg.is/">Félag heimspekikennara</a></li>
                            <li><a href="https://heimspekismidja.wordpress.com/">Sísyfos heimspekismiðja</a></li>
                            <li><a href="{{ '/pdf/68-æfingar-í-heimspeki.pdf' | relative_url }}">68 æfingar í heimspeki</a></li>
                            <li><a href="https://heimspeki.hi.is/about/ritger%c3%b0ir/">Heimspekivefurinn</a></li>
                            <li><a href="https://verkefnabanki.wordpress.com/">Verkefnabanki Heimspekitorgsins</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="widget">
                        <h5 class="widgetheading">Latest posts</h5>
                        <ul class="link-list">
                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                            <li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
                            <li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="widget">
                        <h5 class="widgetheading">Upplýsingar</h5>
                        <ul class="link-list">
                            <li><a href="{{ '/creation.html' | relative_url }}">Um tilurð þessarar síðu</a></li>
                            <li><a href="{{ '/kristian_guttesen_cv.html' | relative_url }}">Um síðuhöfundinn</a></li>
                            <li><a href="#">Heimildir</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="copyright">
                            <p>
                                <span>&copy; Kristian Guttesen Allur réttur áskilinn. Sniðmát smíðað af </span><a href="http://webthemez.com" target="_blank">WebThemez</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul class="social-network">
                            <li><a href="https://www.facebook.com/kristian.guttesen/" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://x.com/guttesen" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/kristian-guttesen/" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://www.pinterest.com/kguttesen/" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ '/js/jquery.js' | relative_url }}"></script>
<script src="{{ '/js/jquery.easing.1.3.js' | relative_url }}"></script>
<script src="{{ '/js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ '/js/jquery.fancybox.pack.js' | relative_url }}"></script>
<script src="{{ '/js/jquery.fancybox-media.js' | relative_url }}"></script> 
<script src="{{ '/js/portfolio/jquery.quicksand.js' | relative_url }}"></script>
<script src="{{ '/js/portfolio/setting.js' | relative_url }}"></script>
<script src="{{ '/js/jquery.flexslider.js' | relative_url }}"></script>
<script src="{{ '/js/animate.js' | relative_url }}"></script>
<script src="{{ '/js/custom.js' | relative_url }}"></script>
<script src="{{ '/js/validate.js' | relative_url }}"></script>
</body>
</html>